@import url(variables.css);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    background-color: var(--background-color);
}

.titulo-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #5555552d;
}

.logo {
    display: flex;
    align-items: left;
    justify-content: left;
    margin-right: 20px;
    height: auto;
    width: 200px;
}

.menu-navegacion  {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    padding: 20px 40px;
    background-color: #89edff86;
}

.boton-principal {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    height: auto;
    width: auto;
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    cursor: pointer;
}

.boton-principal:hover {
    background-color: var(--background-color);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.seccion-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/imagenes/hero-plataforma-educativa.svg);
    background-size: cover;
    background-position: center;
    height: 400px;
    color: var(--text-color);
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
}

.seccion-principal__portada {
    text-align: center;
    margin-top: 50px;
}

.seccion-principal__titulo {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--text-color-hero);
    text-align: center;
}

.seccion-principal__slogan {
    font-size: 1.3em;
    margin-bottom: 15px;
    color: var(--text-color-hero);
    text-align: center;
}

.seccion-principal__subtitulo {
    font-size: 1.3em;
    margin-bottom: 20px;
    color: var(--text-color-hero);
    text-align: center;
}

.seccion-principal__boton {
    background-color: var(--secondary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    margin-top: 20px;
    cursor: pointer;
}

.seccion-principal__boton:hover {
    background-color: var(--background-color);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.galeria-productos {
    padding: 40px;
    background-color:var(--background-color);
    border-top: 1px solid #eee;
}

.galeria-productos__titulo {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: var(--text-color);
}

.galeria-productos__grid {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-auto-flow: dense;
}

.galeria-productos__item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.galeria-productos__item-titulo {
    font-size: 1.2em;
    margin: 10px 0;
    color: var(--text-color);
}

.galeria-productos__item-descripcion {
    font-size: 1em;
    color: var(--text-color);
}

.galeria-productos__item-boton {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    margin-top: 15px;
    cursor: pointer;
}

.galeria-productos__item-boton:hover {
    background-color: var(--background-color);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.testimonios {
    padding: 40px;
    background-color: #fff;
    border-top: 1px solid #eee;
}

.testimonios__titulo {
    text-align: center;
    font-size: 2em;
    margin-bottom: 30px;
    color: var(--text-color);
}

.testimonios__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-template-areas: "testimonio1 testimonio2 testimonio3";
    align-items: stretch;
}

.testimonios__item {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.testimonios__item-texto {
    font-size: 1em;
    margin-bottom: 15px;
    color: var(--text-color);
    text-align: center;
}

.testimonios__item-autor {
    font-size: 0.9em;
    font-style: italic;
    color: var(--text-color);
    text-align: center;
}

.formulario-contacto {
    padding: 40px;
    background-color: var(--background-color);
    border-top: 1px solid #eee;
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(1, 1fr);
    gap: 5px;
    grid-auto-flow: dense;
    align-items: center;
    justify-items: center;
}

.formulario-contacto__titulo {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--text-color);
}

.formulario-contacto__label {
    font-size: 1em;
    margin-bottom: 10px;
    color: var(--text-color);
    justify-self: center;
}

.formulario-contacto__input, .formulario-contacto__textarea {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: var(--button-border-radius);
    margin-bottom: 20px;
    font-size: 1em;
}

.formulario-contacto__boton {
    background-color: var(--primary-color);
    color: var(--text-color);
    border: none;
    border-radius: var(--button-border-radius);
    padding: var(--button-padding);
    cursor: pointer;
}

.formulario-contacto__boton:hover {
    background-color: var(--background-color);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pie-pagina {
    padding: 20px 50px;
    background-color: #5555552d;
    color: var(--text-color);
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
}

.pie-pagina__texto {
    font-size: 0.9em;
}

.pie-pagina__menu {
    justify-self:end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.pie-pagina__enlace {
    color: var(--text-color);
    text-decoration: none;
    margin-bottom: 5px;
}

.pie-pagina__redes {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    justify-self: start;
    align-items: center;
}

.pie-pagina__redes-lista ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
}

.pie-pagina__redes-lista ul li {
    color: var(--text-color);
    font-size: 1.2em;
    text-decoration: none;
}

.pie-pagina__redes-lista img {
    width: 24px;
    height: 24px;
}