:root {
    --font-family: 'Arial', sans-serif;
    --primary-color: #8bf4fc;
    --secondary-color: rgb(48, 155, 243);
    --text-color: #333;
    --background-color: #cbffe783;
    --button-border-radius: 8px;
    --button-padding: 10px 20px;
    --text-color-hero: #fff;
}